:root {
  --fonts-main: #{$base-font-family};
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $background-color;
}

body, input, select, textarea, button {
  line-height: 1.4;
}

tt, code, pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

#content h1, h2, h3, h4 {
  color: $text-color;
}

#header {
  @include github-page-head;
  height: auto;
  padding: 10px 8px 10px 10px;
  background-position-y: 11%;

  a {
    color: $link-color;
  }

  > h1 {
    background: url("../images/logo.png") no-repeat 10px 5px;
    padding: 5px 45px;
    color: $color-fg-default;
  }
}

@media only screen and (resolution >= 2dppx),
only screen and (resolution >= 192dpi) {
  #header {
    > h1 {
      background: url("../images/logo@2x.png") no-repeat 10px 5px;
      background-size: 30px 30px;
    }
  }
}

#main {
  margin: 15px 15px 0;
  background-color: $background-color;
}

#top-menu {
  padding: 10px;
  @include github-header;

  #loggedas {
    color: $color-fg-default;
  }

  a {
    color: $text-color;
    font-weight: bold;
    padding: 5px;
    margin-right: 0;
    transition: color .15s ease-in;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);

    &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }
}

div {
  &.flash {
    border: 1px solid;
    text-shadow: 0 1px white;
  }

  &#content > div.flash {
    padding: 10px 35px;
    background-position-x: 12px !important;
    background-position-y: 9px !important;
    position: relative;

    &:first-child {
      border-width: 0 0 1px;
      border-radius: 4px 4px 0 0;
      margin: $negative-margin-on-content;
    }
  }
}

#errorExplanation,
div.flash,
.nodata,
.warning,
.conflict {
  padding: 8px 35px 8px 30px;
  margin-bottom: 20px;
  font-size: 1.1em;
  border: 1px solid;
  border-radius: 4px;
}

#errorExplanation,
.nodata,
.warning {
  background-color: $color-attention-subtle;
  border: 1px solid $color-attention-muted;
  color: $color-attention-fg;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}

#sidebar {
  background: whitesmoke;
  border: 1px solid $color-border-default;
  zoom: 1;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);

  h3 {
    color: $color-fg-default;
  }
}

div#content {
  margin-right: 15px;
  width: auto;
  padding: $content-padding;

  #main.nosidebar & {
    margin-right: 0;
  }

  > h2 {
    border-bottom: 1px solid $color-border-default;
    background: $color-canvas-subtle;
    text-shadow: 0 1px white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px 20px;
    margin: $negative-margin-on-content;

    &.inline-flex {
      border: none;
      background: none;
      // negative mgrgin for parent (#content)
      margin: -10px -8px 10px -16px;
    }
  }

  > {
    div.filters h2, #add-news > h2, #add-message > h2, #add-document > h2 {
      border-bottom: 1px solid $color-border-default;
      background: $color-canvas-subtle;
      text-shadow: 0 1px white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 8px 20px;
      margin: $negative-margin-on-content;
    }
  }

  > div.contextual {
    margin-right: 5px;
  }
}

.controller-boards.action-index #add-message {
  position: static;

  #message-form > p {
    position: relative;
    padding: 10px;
    background-color: white;
    margin: -10px;
    border-bottom: 1px solid $color-accent-muted;
  }
}

#add-news, #add-message, #add-document {
  margin-bottom: 20px;
}

p.breadcrumb {
  margin: 4px 0 14px;
}

#roadmap {
  margin: 10px;
}

p.subtitle {
  margin: 0 0 12px;
}

// stylelint-disable-next-line no-descending-specificity
.contextual a {
  color: $color-fg-muted;

  &:link, &:visited {
    color: $color-fg-muted;
  }

  &:hover, &:visited:hover {
    color: $color-fg-default;
  }
}

#content, #main.nosidebar #content {
  background: $color-canvas-default;
  border: 1px solid $color-border-default;
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
  border-radius: 4px;
}

// stylelint-disable-next-line no-descending-specificity
a {
  color: $link-color;

  &:link,
  &:visited {
    color: $link-color;
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
div {
  &.issue {
    background: $color-attention-subtle;
    padding: 20px;
    border: 1px solid $color-border-default;
    margin: -11px -11px 15px;

    &.tooltip {
      padding: 6px;
      margin: 0 0 6px;
    }
  }
}

#footer {
  background-color: $color-canvas-subtle;
  border: 0;
  border-top: 1px solid $color-border-default;
  color: $color-fg-muted;
  margin-top: 45px;
  padding: 15px;

  .bgl {
    .bgr {
      &::after {
        content: " and gitmike theme";
      }
    }
  }
}

// Headers

h2, h3, h4 {
  border-bottom: 0;
}

.wiki {
  h1, h2, h3 {
    border-bottom: 0;
  }

  &.wiki-page {
    // stylelint-disable-next-line no-descending-specificity
    h1 {
      border-bottom: 1px solid $color-border-default;
    }

    > h2 {
      border-bottom: 1px solid $color-border-default;
      padding-bottom: 6px;
    }
  }
}
