// Shared components

.box {
  background-color: var(--color-canvas-subtle);
  border-radius: 8px;
  padding: 16px;
}

img.gravatar {
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
}

#context-menu {
  box-shadow: 0 0 3px var(--color-border-default);

  ul {
    border-top: 1px solid var(--color-border-default);
    border-left: 1px solid var(--color-border-default);
    border-bottom: 1px solid var(--color-border-default) !important;
    border-right: 1px solid var(--color-border-default) !important;
  }

  ul li ul {
    box-shadow: 0 0 3px var(--color-border-default);
  }

  li:hover {
    border: 1px solid var(--color-border-muted) !important;
    background-color: var(--color-border-muted);
  }
}

div.tooltip:hover span.tip {
  border: 1px solid var(--color-border-muted);
  zoom: 1;
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
}

// Modal forms

div.modal {
  border-radius: 8px;
  border: 1px solid var(--color-border-default);
  padding: 30px 42px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);

  h3.title {
    background: transparent;
    color: inherit;
  }
}

#modalbg {
  background: white;
  opacity: 0.75;
}
