// Issue details and history

div.journal .details {
  padding-left: 30px;
}

table.progress td {
  &.closed {
    background: $color-accent-muted none repeat scroll 0;
  }

  &.done {
    background: $color-accent-subtle none repeat scroll 0;
  }
}

#history div.journal {
  border-top: 1px solid $color-border-default;
}
