// Issue details and history

/* stylelint-disable-next-line no-duplicate-selectors */
div.issue {
  background: var(--color-issue-bg);
  padding: 20px;
  border: 1px solid var(--color-border-default);
  margin: -11px -11px 15px;

  &.tooltip {
    padding: 6px;
    margin: 0 0 6px;
  }
}

div.journal .details {
  padding-left: 30px;
}

table.progress td {
  &.closed {
    background: var(--color-accent-muted) none repeat scroll 0;
  }

  &.done {
    background: var(--color-accent-subtle) none repeat scroll 0;
  }
}

#history div.journal {
  border-top: 1px solid var(--color-border-default);
}
