// Menu

#main-menu {
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: var(--base-size-8) var(--base-size-16) 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  margin-right: 0;
  position: relative;

  ul {
    margin-top: 0;
    padding-left: 0;
    background-color: transparent !important;

    @include clearfix;

    .menu-children {
      background: var(--color-canvas-default) !important;
      border: 1px solid var(--color-border-muted);
      border-bottom-color: var(--color-border-default);

      // hack Redmine 3.3.0 and 3.3.1
      // http://www.redmine.org/issues/24000#note-4
      z-index: 45;

      li {
        a {
          border-bottom: none;

          &:hover {
            color: var(--color-accent-fg);
            background: none;
            border-bottom: none;
          }
        }
      }
    }

    li {
      margin: 0;
      padding: 0;

      // stylelint-disable-next-line no-descending-specificity
      a {
        background-color: transparent !important;
        display: block;
        padding: 10px 12px;
        color: var(--color-fg-default);
        text-shadow: 0 1px 0 var(--color-canvas-default);
        font-weight: var(--base-text-weight-semibold);
        text-decoration: none;
        height: 20px;
        line-height: 20px;

        &.selected {
          color: var(--color-fg-default);
          border-bottom: 2px solid var(--color-border-active) !important;
        }

        &:hover {
          background-color: var(--color-bg-neutral-muted) !important;
          color: var(--color-fg-default);
          text-decoration: none;
          transition: background-color .12s ease-out;
        }
      }
    }
  }
}
