@use "sass:color";

// Menu

#main-menu {
  left: 0;
  width: 100%;
  // height: 40px;
  // overflow: hidden;
  background: $color-canvas-subtle;
  background: linear-gradient(to bottom, $color-canvas-subtle, color.adjust($color-canvas-subtle, $lightness: -3%));
  border: 1px solid $color-border-muted;
  border-bottom-color: $color-border-default;
  border-radius: 3px;
  margin-right: 0;
  position: relative;

  ul {
    margin-top: 0;
    padding-left: 0;
    background-color: transparent !important;

    @include clearfix;

    .menu-children {
      background: $color-canvas-default !important;
      border: 1px solid $color-border-muted;
      border-bottom-color: $color-border-default;

      // hack Redmine 3.3.0 and 3.3.1
      // http://www.redmine.org/issues/24000#note-4
      z-index: 45;

      li {
        a {
          border-bottom: none;

          &:hover {
            color: $link-color;
            background: none;
            border-bottom: none;
          }
        }
      }
    }

    li {
      margin: 0;
      padding: 0;

      // stylelint-disable-next-line no-descending-specificity
      a {
        background-color: transparent !important;
        display: block;
        padding: 10px 12px;
        color: $color-fg-default;
        text-shadow: 0 1px 0 $color-canvas-default;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px solid $color-border-default;
        height: 20px;
        line-height: 20px;

        &.selected {
          color: $color-fg-default;
          border-bottom: 2px solid $color-attention-fg !important;
          background-color: $color-canvas-subtle;
          background-image: linear-gradient($color-canvas-default, $color-canvas-subtle);
          background-repeat: repeat-x;

          &:hover {
            color: $color-fg-default;
          }
        }

        &:hover {
          color: $link-color;
        }
      }
    }
  }
}
