// Wiki Extenstions
// http://www.r-labs.org/projects/r-labs/wiki/Wiki_Extensions_en

// #18 adjust margin
.jstt_smiles {
  #group_of_smiles {
    border: 1px solid #ddd !important;
    margin-top: -6px;
    padding: 6px;
  }
}

