// Tables

table.list {
  td {
    padding: 4px;
  }

  tbody {
    td,
    tr:hover td {
      border: solid 1px var(--color-border-default);
    }
  }

  tr {
    &:hover {
      background-color: var(--color-canvas-subtle);
    }

    &.issue {
      a {
        color: var(--color-fg-muted);
      }
    }

    &.group {
      span.count {
        display: inline-block;
        padding: 2px 5px;
        font: var(--font-size-small) Helvetica, arial, freesans, clean, sans-serif;
        font-weight: var(--base-text-weight-semibold);
        line-height: 1;
        color: var(--color-fg-muted);
        background-color: var(--color-border-muted);
        border-radius: 20px;
      }
    }

    // priority-highest
    &.odd.priority-highest,
    &.odd.priority-highest:hover {
      color: var(--color-danger-fg);
      font-weight: var(--base-text-weight-semibold);
      background: var(--color-danger-muted);

      td {
        border-color: var(--color-danger-muted);
      }
    }

    &.even.priority-highest,
    &.even.priority-highest:hover {
      color: var(--color-danger-fg);
      font-weight: var(--base-text-weight-semibold);
      background: var(--color-danger-muted);

      td {
        border-color: var(--color-danger-muted);
      }
    }

    &.priority-highest {
      a, &:hover a {
        color: var(--color-danger-fg);
      }
    }

    // priority-high2
    &.odd.priority-high2,
    &.odd.priority-high2:hover {
      color: var(--color-danger-fg);
      background: var(--color-danger-muted);

      td {
        border-color: var(--color-danger-muted);
      }
    }

    &.even.priority-high2,
    &.even.priority-high2:hover {
      color: var(--color-danger-fg);
      background: var(--color-danger-muted);

      td {
        border-color: var(--color-danger-muted);
      }
    }

    &.priority-high2 {
      a, &:hover a {
        color: var(--color-danger-fg);
      }
    }

    // priority-high3
    &.odd.priority-high3,
    &.odd.priority-high3:hover {
      color: var(--color-danger-fg);
      background: var(--color-danger-subtle);

      td {
        border-color: var(--color-danger-subtle);
      }
    }

    &.even.priority-high3,
    &.even.priority-high3:hover {
      color: var(--color-danger-fg);
      background: var(--color-danger-subtle);

      td {
        border-color: var(--color-danger-subtle);
      }
    }

    &.priority-high3 a {
      color: var(--color-danger-fg);
    }

    // priority-lowest
    &.odd.priority-lowest,
    &.odd.priority-lowest:hover {
      color: var(--color-accent-fg);
      background: var(--color-accent-subtle);

      td {
        border-color: var(--color-accent-muted);
      }
    }

    &.even.priority-lowest,
    &.even.priority-lowest:hover {
      color: var(--color-accent-fg);
      background: var(--color-accent-subtle);

      td {
        border-color: var(--color-accent-muted);
      }
    }

    &.priority-lowest a {
      color: var(--color-accent-fg);
    }
  }

  thead {
    th {
      border-width: 1px;
      border-style: solid;
      border-color: var(--color-border-default);
    }
  }

  input[type="checkbox"] {
    margin-top: 6px;
  }
}

.tabular {
  label {
    padding-top: 4px;
  }
}

tr.assigned-to-me td.assigned_to,
tr.created-by-me td.author {
  font-weight: var(--base-text-weight-semibold);
}

// Quick search

#quick-search {
  margin-top: 8px;
}

// Grid styles by priorities

/*tr.odd {background-color: transparent;}
tr.even {background-color: transparent;}
table.list th {background-color: transparent;}*/
