// Tables

table.list {
  td {
    padding: 4px;
  }

  tbody {
    td,
    tr:hover td {
      border: solid 1px #ddd;
    }
  }

  tr {
    &:hover {
      background-color: #EFF5F8;
    }

    &.issue {
      a {
        color: #666;
      }
    }

    &.group {
      span.count {
        display: inline-block;
        padding: 2px 5px;
        font: 12px Helvetica, arial, freesans, clean, sans-serif;
        font-weight: bold;
        line-height: 1;
        color: #555;
        background-color: #eee;
        border-radius: 20px;
      }
    }

    // priority-highest
    &.odd.priority-highest,
    &.odd.priority-highest:hover {
      color: #900;
      font-weight: bold;
      background: #ffc4c4;

      td {
        border-color: #ffc4c4;
      }
    }

    &.even.priority-highest,
    &.even.priority-highest:hover {
      color: #900;
      font-weight: bold;
      background: #ffd4d4;

      td {
        border-color: #ffb4b4;
      }
    }

    &.priority-highest {
      a, &:hover a {
        color: #900;
      }
    }

    // priority-high2
    &.odd.priority-high2,
    &.odd.priority-high2:hover {
      color: #900;
      background: #ffc4c4;

      td {
        border-color: #ffc4c4;
      }
    }

    &.even.priority-high2,
    &.even.priority-high2:hover {
      color: #900;
      background: #ffd4d4;

      td {
        border-color: #ffd4d4;
      }
    }

    &.priority-high2 {
      a, &:hover a {
        color: #900;
      }
    }

    // priority-high3
    &.odd.priority-high3,
    &.odd.priority-high3:hover {
      color: #900;
      background: #fee;

      td {
        border-color: #fcc;
      }
    }

    &.even.priority-high3,
    &.even.priority-high3:hover {
      color: #900;
      background: #fff2f2;

      td {
        border-color: #fcc;
      }
    }

    &.priority-high3 a {
      color: #900;
    }

    // priority-lowest
    &.odd.priority-lowest,
    &.odd.priority-lowest:hover {
      color: #559;
      background: #eaf7ff;

      td {
        border-color: #add7f3;
      }
    }

    &.even.priority-lowest,
    &.even.priority-lowest:hover {
      color: #559;
      background: #f2faff;

      td {
        border-color: #add7f3;
      }
    }

    &.priority-lowest a {
      color: #559;
    }
  }

  thead {
    th {
      border-width: 1px;
      border-style: solid;
      border-color: #ddd;
    }
  }

  input[type="checkbox"] {
    margin-top: 6px;
  }
}

.tabular {
  label {
    padding-top: 4px;
  }
}

tr.assigned-to-me td.assigned_to,
tr.created-by-me td.author {
  font-weight: bold;
}

// Quick search

#quick-search {
  margin-top: 8px;
}

// Grid styles by priorities

/*tr.odd {background-color: transparent;}
tr.even {background-color: transparent;}
table.list th {background-color: transparent;}*/
