// Fonts
$base-font: 12px -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Colors
$link-color: #4183C4;
$text-color: #333;
$background-color: white;

// Spacing
$content-padding: 10px 16px;
$negative-margin-on-content: -10px -16px 10px;
