// Fonts
$base-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Noto Sans", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$base-font-size: 14px;

// Colors
$link-color: #4183C4;
$text-color: #333;
$background-color: white;

// Spacing
$content-padding: 10px 16px;
$negative-margin-on-content: -10px -16px 10px;
