@import url(../../../stylesheets/application.css);

@import 'themeheader';
@import 'variables';
@import 'functions';

//@import 'ja';

body {
  color: #333333;
  background-color: #fff
}

#header {
  font: $baseFont;
  background: #fff;
  height: auto;
  a {
    color: $linkColor;
  }
  > h1 {
    background: url(../images/logo.png) no-repeat 10px 7px;
    padding: 5px 50px;
    color: #393939;
  }
}

#main {
  background: transparent;
  margin: 15px 15px 0px 15px;
  background-color: #fff;
}

#top-menu {
  font: $baseFont;
  padding: 10px 10px 2px 20px;
  background-color: #f3f3f3;
  @include background-image(linear-gradient(#f9f9f9, #f3f3f3));
  background-repeat: repeat-x;
  @include text-shadow(0 1px 0 #fff);
  border-bottom: 1px solid #e5e5e5;

  #loggedas {
    color: #222;
  }
  a {
    color: #333;
    font-weight: bold;
    padding: 5px;
    margin-right: 0px;
    @include transition(color .15s ease-in 0);
    @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.5));

    &:hover {
      color: $linkColor;
      text-decoration: none;
    }
  }
}

div {
  &.flash {
    border: 1px solid;
    text-shadow: 0 1px white;
  }
  &#content > div.flash {
    &:first-child {
      @include border-top-left-radius(8px);
      @include border-top-right-radius(8px);
    }
    border: 0px solid;
    padding: 9px 35px 10px;
    margin: -5px -10px 1px -10px;
    background-position-x: 12px !important;
    background-position-y: 9px !important;
    position: relative;
    border-bottom: 1px solid #AECCD7;
  }
}

#errorExplanation, div.flash, .nodata, .warning, .conflict {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  font-size: 1.1em;
  border: 1px solid;
  @include border-radius(4px);
}

#errorExplanation, .nodata, .warning {
  text-align: center;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
  @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.5));
}

div {
  &.filters h2 .scope_title a {
    color: #444;
  }
  &#content {
    margin-right: 300px;
    width: auto;
  }
  &#main.nosidebar div#content {
    margin-right: 0px;
  }
}

#sidebar {
  width: 260px !important;
  padding: 0px 10px 20px 15px !important;
  background: whiteSmoke;
  border: 1px solid #ddd;

  zoom: 1;
  @include border-radius(4px);
  @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.05));
}

div#content {
  > h2, h2.contacts_header {
    border-bottom: 1px solid #d8e6ec;
    background: #E6F1F6;
    @include text-shadow(0px 1px white);
    @include border-top-left-radius(2px);
    @include border-top-right-radius(2px);
    padding: 8px 20px;
    margin: -6px -10px 10px;
  }
  > {
    div.filters h2, #add-news > h2, #add-message > h2, #add-document > h2 {
      border-bottom: 1px solid #C5D5DD;
      background: #E6F1F6;
      @include text-shadow(0px 1px white);
      @include border-top-left-radius(4px);
      @include border-top-right-radius(4px);
      padding: 8px 20px;
      margin: -6px -10px 10px;
    }
  }
}

.controller-boards.action-index #add-message {
  position: static;
  #message-form > p {
    position: relative;
    padding: 10px;
    background-color: white;
    margin: -10px;
    border-bottom: 1px solid #AECCD7;
  }
}

/*.controller-documents.action-index div#content  h2, */

.controller-timelog.action-index div#content h2, .controller-time_entry_reports.action-report div#content h2, .controller-boards.action-show div#content h2, .controller-messages.action-show div#content h2, .controller-boards.action-show div#content div#add-message h2 {
  @include border-top-left-radius(0px);
  @include border-top-right-radius(0px);
  border-top: 1px solid #AECCD7;
  /*padding: 9px 20px 12px;*/
  margin: -2px -10px 10px;
}

.controller-timelog.action-index div#content .contextual, .controller-time_entry_reports.action-report div#content .contextual {
  margin-top: 50px;
}

#add-news, #add-message, #add-document {
  margin-bottom: 20px;
}

div#content h2.contacts_header {
  padding-bottom: 10px;
  /*	white-space: nowrap;*/
}

p.breadcrumb {
  margin: 4px 0 15px 0;
}

div#content > div.contextual {
  margin-top: 10px;
  margin-right: 10px;
}

#roadmap {
  margin: 10px;
}

p.subtitle {
  margin: 0px 0 12px 0;
}

.contextual a {
  color: #888;
  &:link, &:visited {
    color: #888;
  }
  &:hover, &:visited:hover {
    color: #333;
  }
}

div.filters h2 .scope_title a {
  color: #222;
  text-decoration: none;
}

.wiki h1 {
  font-size: 28px;
}

h2, .wiki h1, h3, .wiki h2 {
  color: #222;
}

div#content > div.wiki {
  padding: 10px;
  padding-top: 20px;
}

#header {
  padding-top: 10px;
  padding-left: 10px;
  background-position-y: 11%;
}

div#welcome-store-content {
  h1, h2, h3, h4 {
    color: #222;
  }
}

#content, #main.nosidebar #content {
  background: #fff;
  border: 1px solid #ddd;
  @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.05));
  @include border-radius(4px);
}

a {
  color: $linkColor;

  &:link,
  &:visited {
    color: $linkColor;
  }
}

div {
  &.issue {
    background: #FFD;
    padding: 20px;
    margin-bottom: 6px;
    border: 1px solid #ddd;
    margin: -11px -11px 15px -11px;
    &.tooltip {
      padding: 6px;
      margin: 0 0 6px 0;
    }
  }
  &.contact.details, &.deal.details {
    padding: 15px !important;
    margin: -11px -11px 6px;
  }
}

#sidebar h3 {
  color: #222;
}

#footer {
  background-color: #F8F8F8;
  border: 0px;
  border-top: 1px solid #E0E0E0;
  color: #636363;
  margin-top: 45px;
  padding: 15px;
}

/* Headers */

h2, h3, h4 {
  border-bottom: 0px;
}

.wiki {
  h1, h2, h3 {
    border-bottom: 0px;
  }
  &.wiki-page {
    h1 {
      border-bottom: 1px solid #ccc;
    }
    > h2 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 6px;
    }
  }
}

/* Menu */

#main-menu {
  left: 0px;
  width: 100%;
  //height: 40px;
  /*	overflow: hidden;*/
  background: #FAFAFA;
  @include background(linear-gradient(top, #fafafa, #eaeaea));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
  border: 1px solid #EAEAEA;
  border-bottom-color: #CACACA;
  @include border-radius(3px);

  margin-right: 0;
  position: relative;

  ul {

    @include clearfix();
    margin-top: 0;
    padding-left: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        background-color: transparent !important;
        display: block;
        float: left;
        padding: 10px 12px;
        color: #333;
        @include text-shadow(0 1px 0 #fff);
        font-weight: bold;
        text-decoration: none;

        &.selected {
          border-bottom: 3px solid #D26911 !important;
          &:hover {
            color: $linkColor;
          }
        }
        &:hover {
          color: $linkColor;
          text-decoration: initial;
        }
      }
    }
  }
}

/* Tables */

table.list {
  tbody {
    td, tr:hover td {
      border: solid 1px #ddd;
    }
  }
  thead th {
    border-width: 1px;
    border-style: solid;
    border-top-color: #ddd;
    border-right-color: #ddd;
    border-left-color: #ddd;
    border-bottom-color: #ddd;
  }
}

.tabular label {
  padding-top: 4px;
}

tr.assigned-to-me td.assigned_to,
tr.created-by-me td.author {
  font-weight: bold;
}

/*Quick search*/

#quick-search {
  margin-top: 8px;
}

/* Grid styles by priorities */

table.list {
  td {
    padding: 4px;
  }
  input[type="checkbox"] {
    margin-top: 6px;
  }
  tbody tr {
    &.group span.count {
      padding: 0 9px 1px 9px;
      @include border-radius(9px);
      background-color: #999999;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      font-weight: bold;
      font-size: 11.844px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 14px;
    }
    &:hover {
      background-color: #EFF5F8;
    }
  }
  tr.issue a {
    color: #666;
  }
}

/*tr.odd {background-color: transparent;}
tr.even {background-color: transparent;}
table.list th {background-color: transparent;}*/

tr.odd.priority-highest, table.list tbody tr.odd.priority-highest:hover {
  color: #900;
  font-weight: bold;
}

tr {
  &.odd.priority-highest {
    background: #ffc4c4;
  }
  &.even.priority-highest {
    color: #900;
    font-weight: bold;
  }
}

table.list tbody tr.even.priority-highest:hover {
  color: #900;
  font-weight: bold;
}

tr {
  &.even.priority-highest {
    background: #ffd4d4;
  }
  &.priority-highest {
    a, &:hover a {
      color: #900;
    }
  }
  &.odd.priority-highest td, &.even.priority-highest td {
    border-color: #ffb4b4;
  }
  &.odd.priority-high2 {
    color: #900;
  }
}

table.list tbody tr.odd.priority-high2:hover {
  color: #900;
}

tr {
  &.odd.priority-high2 {
    background: #ffc4c4;
  }
  &.even.priority-high2 {
    color: #900;
  }
}

table.list tbody tr.even.priority-high2:hover {
  color: #900;
}

tr {
  &.even.priority-high2 {
    background: #ffd4d4;
  }
  &.priority-high2 a {
    color: #900;
  }
  &.odd.priority-high2 td, &.even.priority-high2 td {
    border-color: #ffb4b4;
  }
  &.odd.priority-high3 {
    color: #900;
  }
}

table.list tbody tr.odd.priority-high3:hover {
  color: #900;
}

tr {
  &.odd.priority-high3 {
    background: #fee;
  }
  &.even.priority-high3 {
    color: #900;
  }
}

table.list tbody tr.even.priority-high3:hover {
  color: #900;
}

tr {
  &.even.priority-high3 {
    background: #fff2f2;
  }
  &.priority-high3 a {
    color: #900;
  }
  &.odd.priority-high3 td, &.even.priority-high3 td {
    border-color: #fcc;
  }
  &.odd.priority-lowest {
    color: #559;
  }
}

table.list tbody tr.odd.priority-lowest:hover {
  color: #559;
}

tr {
  &.odd.priority-lowest {
    background: #eaf7ff;
  }
  &.even.priority-lowest {
    color: #559;
  }
}

table.list tbody tr.even.priority-lowest:hover {
  color: #559;
}

tr {
  &.even.priority-lowest {
    background: #f2faff;
  }
  &.priority-lowest a {
    color: #559;
  }
  &.odd.priority-lowest td, &.even.priority-lowest td {
    border-color: #add7f3;
  }
}

/* Buttons */
/*input[type="button"], input[type="submit"], input[type="reset"] { background-color: #f2f2f2; color: #222222; border: 1px outset #cccccc; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #ccccbb; }
*/
/* Fields */

input {
  &[type="text"], &[type="password"] {
    padding: 2px;
    border: 1px solid #ddd;
    color: #444;
    font-size: .9em;
  }
}

textarea, select {
  padding: 2px;
  border: 1px solid #ddd;
  color: #444;
  font-size: .9em;
}

input {
  &[type="text"]:focus, &[type="password"]:focus {
    border: 1px solid #888866;
  }
}

textarea:focus, select:focus {
  border: 1px solid #888866;
}

option {
  border-bottom: 1px dotted #ddd;
}

/* Forum */

.controller-messages.action-show .message {
  &.reply {
    padding: 0px 10px;
    margin: -1px;
    background: white;
    border: 1px solid #D9D9D9;
  }
  background: #EAF7FF;
  padding: 0px 15px 10px;
  border: 1px solid silver;
  margin: -11px -11px 15px -11px;
  .contextual {
    margin-top: 10px;
  }
}

.controller-boards p.breadcrumb {
  position: relative;
  background: white;
  border: 0px solid;
  padding: 9px 13px 10px;
  margin: -5px -10px 1px -10px;
  background-position-x: 12px !important;
  background-position-y: 9px !important;
  @include border-top-left-radius(8px);
  @include border-top-right-radius(8px);
  position: relative;
  border-bottom: 1px solid #AECCD7;
}

#add-news, #add-message, #add-document {
  background-color: white;
  position: relative;
  border-bottom: 1px solid #AECCD7;
  margin: -5px -10px 1px -10px;
  padding: 5px 10px 10px;
  @include border-top-left-radius(8px);
  @include border-top-right-radius(8px);
}

/* Misc */

#quick-search #q {
  outline: none;
  padding: 3px 5px !important;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 1px solid #CDCDCD;
  @include box-shadow(0 1px 0 #F1F1F1,inset 0 1px 1px #E0E0E0);
  color: #999;
  font-size: 12px;
}

.box {
  background-color: #fcfcfc;
  @include border-radius(8px);
  padding: 16px;
}

img.gravatar {
  @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.05));
}

.wiki {
  img {
    max-width: 100%;
  }
  table img {
    width: 100%;
  }
}

div.wiki pre, .wiki pre {
  padding: 6px 10px;
  @include border-radius(3px);
}

.controller-wiki div#content > div.contextual {
  margin-top: 3px;
}

div#content > div.wiki {
  padding-top: 15px;
}

ul.projects {
  &.root {
    padding: 10px;
  }
  a.project {
    font-weight: bold;
    font-size: 1.1em;
  }
}

div.journal .details {
  border: 1px solid white;
  &:hover {
    background: #FFD;
    border: 1px solid silver !important;
  }
}

#context-menu {
  @include box-shadow(0 0 3px #CCC);
  ul li ul {
    @include box-shadow(0 0 3px #CCC);
  }
  li:hover {
    border: 1px solid #eee !important;
    background-color: #eee;
  }
  ul {
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD !important;
    border-right: 1px solid #DDD !important;
  }
}

div.tooltip:hover span.tip {
  border: 1px solid #D9D9D9;
  zoom: 1;
  @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.05));
}

table.progress td {
  &.closed {
    background: #AECCD7 none repeat scroll 0%;
  }
  &.done {
    background: #EAF2F5 none repeat scroll 0%;
  }
}

#history div.journal {
  border-top: 1px solid #DDD;
}

/* Modal form*/

div.modal {
  h3.title {
    background: transparent;
    color: inherit;
  }
  @include border-radius(8px);
  border: 1px solid #CCC;
  padding: 30px 42px;
  @include box-shadow(0 4px 16px rgba(0, 0, 0, 0.2));
}

#modalbg {
  background: white;
  opacity: 0.75;
}

/* Login form */

body.action-login {
  #content, #main.nosidebar #content {
    background: inherit;
    border: 0px;
    box-shadow: none;
  }
  #login-form table {
    padding: 3em;
    background: white;
    @include box-shadow(0 0 3px #CCC);
    border: 1px solid #ddd;
    @include border-radius(8px);
  }
}

#login-form input {
  &#username, &#password {
    outline: none;
    margin: 0px;
    border: 1px solid #DDD;
    padding: 6px;
    font-size: 140%;
    @include border-radius(2px);
  }
}

.controller-account.action-login div.flash, div.wiki div.flash {
  @include box-shadow(0 0 3px #CCC);
  border: 1px solid #ddd !important;
  @include border-radius(8px);
  margin: 5px;
}

#content .tabs ul li a {
  @include border-top-left-radius(2px);
  @include border-top-right-radius(2px);
  line-height: 1.3em;
  padding: 6px 10px 6px 10px;
}

#sidebar a.selected {
  background-color: transparent;
  color: gray;
  font-weight: bold;
}

/*Contacts*/

div.filters .live_search {
  margin-left: 11px !important;
}

input.live_search_field {
  @include border-radius(12px);
  @include box-shadow(inset 0px 1px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  padding: 3px 10px !important;
  border: 1px solid #C3C3C3;
}

.live_search input.live_search_field {
  font-size: 12px !important;
}

label#search_overlabel {
  font-size: 12px !important;
  padding-left: 12px !important;
  margin-top: -3px !important;
  padding-right: 28px;
  top: 11px !important;
}

table.contacts.index tbody tr {
  &:hover {
    background-color: #EFF5F8 !important;
  }
  &.context-menu-selection:hover {
    background-color: #507AAA !important;
  }
}

h2 span.tag {
  letter-spacing: 0px;
  top: -4px;
  position: relative;
  a {
    margin-bottom: -1px;
  }
}

div.filters .live_search {
  letter-spacing: 0px;
}

label#search_overlabel {
  margin-top: -4px;
}

.live_search input.live_search_field {
  margin-top: -6px;
}

span {
  &.tag a, &.deal-status {
    color: white;
    @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.25));
    font-size: 9px !important;
    line-height: 1 !important;
    margin: 2px 0px 2px 0px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    @include border-radius(14px);
    padding: 4px 6px 4px !important;
    background: black url(../images/dark-overlay.png) repeat-x scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include box-shadow(inset 0 1px 0 hsla(0, 100%, 100%, 0.3));
  }
  &.tag a:hover {
    @include text-shadow(none);
  }
  &.deal-status a:hover {
    color: black;
    @include text-shadow(none);
  }
}

body {
  &.controller-contacts #content, &.controller-notes #content, &.controller-contacts_tasks #content, &.controller-contacts_duplicates #content, &.controller-sale_funel #content, &.controller-deals #content {
    margin-right: 340px;
  }
  &.controller-contacts #sidebar, &.controller-notes #sidebar, &.controller-contacts_tasks #sidebar, &.controller-contacts_duplicates #sidebar, &.controller-sale_funel #sidebar, &.controller-deals #sidebar {
    width: 300px !important;
  }
}

/*Invoices*/

table.invoice-lines {
  tbody tr.line-data:hover {
    background-color: #EFF5F8 !important;
  }
  th {
    border: 0px !important;
  }
}

span.invoice-status {
  &.draft {
    background-color: #AAA !important;
  }
  &.sent {
    background-color: #3F8AF7 !important;
  }
  &.paid {
    background-color: green !important;
  }
}

/*******************/
/* 		STORE			
/*******************/

div#main-menu li a.products {
  background: #F4786A !important;
  @include text-shadow(none);
  &.selected {
    background-color: #E5E3DE !important;
    color: #222;
  }
}

a.buy-button.blue {
  background: #4C728A !important;
  @include background-image(linear-gradient(bottom, #4c728a 0%, #749bb4 100%) !important);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#749BB4', endColorstr='#4C728A')" !important;
}

#picture {
  width: 446px !important;
  top: 7px;
}

#title h2, #buttons, #title h1 {
  min-width: 550px !important;
}
